# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# venv
backend/.venv

# api keys, credentials, and other related stuff
backend/.env

# other
backend/__pycache__/